include mixins/mixins.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Disposable Messenger")
        link(rel="stylesheet", href="/css/main.css")

        title #{pageTitle}
        link(rel='stylesheet' href='/css/cropper.min.css')
        link(rel='stylesheet' href='/css/bootstrap.min.css')

        script(src='/js/https.js')
    body
        script.
            let chatId = !{chatid}
            let user = !{user}
            let isRegistered = !{registered}
        .noInternetBanner
            .noInternetInfo
                span You're not connected to the internet
        .wrapper
            .registerDivContainer
                .registerDiv
                    .registerContentContainer
                        .registerHeader
                        .registerContainer
                            .continueContainer
                                .continueHeader
                                    p Continue
                                .logoContainer
                                    a(href="/home")
                                        img(src='/images/talk.png' alt='Site Logo')
                                .chatRoomIdContainer
                                    span Chat Room
                                    span !{chatid}
                                .registrationFieldContainer
                                    div(action='/chat/new')
                                        input#chatIdInput(type="hidden", name="chatid", value=chatid)
                                        input#userName.namefield(maxlength='15' placeholder='Enter your Name' aria-label='Enter Name' type='text' name='name')
                                        button.joinButton(type='submit', onclick="userGenerationForm()") Join
                                        p#keyPairGeneration Generating Key Pairs for Encryption &nbsp;
                                            i.fas.fa-spinner.fa-pulse

                        .registerFooter

            .chatDiv
                .leftPane
                    h1
                    .leftPaneLogoContainer
                        img(src="/images/talk.png", alt="Site Logo")
                    span#invite.unselectable
                        i(class="fal fa-share-alt")
                        div Invite
                    span#leave.unselectable
                        i(class="fal fa-sign-out")
                        div Leave
                .chatDivHolder
                    .chatPageContainer
                        .chatTitleBarContainer
                            span#chatName
                        .mainContentContainer
                            .chatContainer
                                ul.chatMessages
                                .typingIndicator
                                    .typing
                                        .typingGifHolder
                                            img(src="/images/typing.gif", alt="Someone is typing")
                                        span Someone is typing
                                .footer
                                    button.sendImageButton(aria-label="Send Image", data-toggle="modal", data-target="#sendImageModal")
                                        i.fal.fa-camera-alt
                                    button.sendVideoCallRequestButton(aria-label="Send Video Call Link")
                                        i.fal.fa-video
                                    textarea#messageTextarea(name='messageInput' placeholder='Type a message...' autofocus="")
                                    button.sendMessageButton(aria-label="Send Message")
                                        i#sendChatButton.fal.fa-paper-plane
                            .statusBar
            +sendImageModal()
            +viewSentImageModal()
                
            
            


        script(src='/js/jquery-3.6.0.min.js' )
        script(src='/js/localforage.js' )
        
        script(defer="",src='/js/cropper.min.js')
        script(defer="",src='/js/popper.min.js' )
        script(defer="",src='/js/bootstrap.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/lovefield/2.1.12/lovefield.min.js") 
        script(src='/js/socket.io.min.js')        
        script(src='/js/socket.js')
        script(src='/js/main.js')